.tabs {
  background: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
}

.tab {
  flex: 1;
  padding: 15px 20px;
  border: none;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  transition: all 0.3s;
  text-align: center;
}

.tab:hover:not(.active) {
  background: #f0f0f0;
}

.tab.active {
  color: #31313d;
  background: #deddf9;
}

.icon {
  position: relative;
  top: -1px;
}
